<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page for creating user</title>

</head>
<form>
<table>
    <tr>
        <th>
               Book Name:
        </th>
        <td>
                <input type="text" name="bookName" id="bookName" />
        </td>
    </tr>
    <tr>
        <th>
            Author:
        </th>
        <td>
            <input type="text" name="author" id="author" />
        </td>
    </tr>
    <tr>
        <input type="submit" value="submit" />
    </tr>
</table>
</form>

</body>
</html>